@font-face {
font-family: "F37 Moon";
src:url("F37Moon-Thin.otf") format("opentype");
font-display:auto;
font-style:normal;
font-weight:100;
}
@font-face {
font-family: "F37 Moon";
src:url("F37Moon-Bold.otf") format("opentype");
font-display:auto;
font-style:normal;
font-weight:600;
}
@font-face {
font-family: "F37 Moon";
src:url("F37Moon-ExtraBold.otf") format("opentype");
font-display:auto;
font-style:normal;
font-weight:800;
}